<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <header>
      <% include ../partials/header %>
    </header>
    <div class="users">
<!-- main start-->

<!-- views/users/edit.ejs -->
<div class="edit">
  <div class="buttons">
    <button onclick="history.back()">Back</button>
  </div>
  <h3>Update User Information</h3>
  <form class="checkValidation" action="/users/<%= user._id %>?_method=put" method="post">
    <div class="inputs">
      <div class="floats">
        <label>Current Password*</label>
        <input class="cvRequired" type="text" name="currentPassword" cvRqErrMsg="Current password is required." cvRqErrTo="#cvErrPassword" value="">
        <div id="cvErrPassword" class="message"><%= passwordError?passwordError:"" %></div>
      </div>
    </div>
    <div class="inputs">
      <div class="floats">
        <label>Email*</label>
        <input class="cvRequired" type="text" name="user[email]" cvRqErrMsg="Email is required." cvRqErrTo="#emailError" value="<%= formData?formData.email:(user?user.email:"") %>">
        <div id="cvErrEmail" class="message"><%= emailError?emailError:"" %></div>
      </div>
      <div class="floats">
        <label>Nickname*</label>
        <input class="cvRequired" type="text" name="user[nickname]" cvRqErrMsg="Nickname is required." cvRqErrTo="#cvErrNickname" value="<%= formData?formData.nickname:(user?user.nickname:"") %>">
        <div id="cvErrNickname" class="message"><%= nicknameError?nicknameError:"" %></div>
      </div>
      <div class="floats">
        <label>New Password</label>
        <input class="cvMatch" type="password" name="user[newPassword]" cvMatW="#cvMatWPassword" cvMatErrMsg="Password confirmation doesn't match." cvMatErrTo="#cvErrPasswordConfirmation" value="">
      </div>
      <div class="floats">
        <label>Password Confirmation</label>
        <input id="cvMatWPassword" type="password" name="user[passwordConfirmation]"value="">
        <div id="cvErrPasswordConfirmation" class="message"></div>
      </div>
      <p><small>*Required</small></p>
    </div>

    <div class="buttons">
      <button type="submit">Submit</button>
    </div>
  </form>
</div>

<!-- main end -->
    </div><!--users end -->
    <footer>
      <% include ../partials/footer %>
    </footer>
  </body>
</html>
