<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <header>
      <% include ../partials/header %>
    </header>
    <div class="users">
<!-- main start-->

<!-- views/users/new.ejs -->
<div class="new">
  <div class="buttons">
    <button onclick="location.href='/'">Home</button>
  </div>
  <h3>Sign Up</h3>
  <form class="checkValidation" action="/users" method="post">
    <div class="inputs">
      <div class="floats">
        <label>Email*</label>
        <input class="cvRequired" type="text" name="user[email]" cvRqErrMsg="Email is required." cvRqErrTo="#cvErrEmail" value="<%= formData?formData.email:"" %>">
        <div id="cvErrEmail" class="message"><%= emailError?emailError:"" %></div>
      </div>
      <div class="floats">
        <label>Nickname*</label>
        <input class="cvRequired" type="text" name="user[nickname]" cvRqErrMsg="Nickname is required." cvRqErrTo="#cvErrNickname" value="<%= formData?formData.nickname:"" %>">
        <div id="cvErrNickname" class="message"><%= nicknameError?nicknameError:"" %></div>
      </div>
      <div class="floats">
        <label>Password*</label>
        <input class="cvRequired cvMatch" type="password" name="user[password]" cvRqErrMsg="Password is required." cvRqErrTo="#cvErrPassword"
          cvMatW="#cvMatWPassword" cvMatErrMsg="Password confirmation doesn't match." cvMatErrTo="#cvErrPasswordConfirmation" value="">
        <div id="cvErrPassword" class="message"><%= passwordError?passwordError:"" %></div>
      </div>
      <div class="floats">
        <label>Password Confirmation*</label>
        <input id="cvMatWPassword" type="password" name="user[passwordConfirmation]" value="">
        <div id="cvErrPasswordConfirmation" class="message"></div>
      </div>
      <p><small>*Required</small></p>
    </div>
    <div class="buttons">
      <button type="submit">Submit</button>
    </div>
  </form>
</div>

<!-- main end -->
    </div><!--users end -->
    <footer>
      <% include ../partials/footer %>
    </footer>
  </body>
</html>
