<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <header>
      <% include ../partials/header %>
    </header>
    <div class="posts">
    <% include partials/top %>
<!-- main start-->

<!-- views/posts/index.ejs -->
<div class="index">
  <a href="/posts/new"><button>New</button></a>
  <% if(user) {%>
    <a href="/logout" class="float_right"><button>Logout</button></a>
    <a href="/users/<%= user._id %>" class="float_right"><button>My Profile (<%= user.nickname %>)</button></a>
  <% } else { %>
    <a href="/login" class="float_right"><button>Login</button></a>
    <a href="/users/new" class="float_right"><button>Sign Up</button></a>
  <% } %>
  <ul>
      <li class="header"> Title <span>Date</span></li>
    <% data.forEach(function(e){ %>
      <li>
        <a href="/posts/<%= e._id %>"><%= e.title %></a>
        <span><%= e.createdAt.toLocaleDateString() %></span>
      </li>
    <% }) %>
  </ul>
</div>

<!-- main end -->
    </div><!--posts end -->
    <footer>
      <% include ../partials/footer %>
    </footer>
  </body>
</html>
