<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <header>
      <% include ../partials/header %>
    </header>
    <div class="posts">
    <% include partials/top %>
<!-- main start-->

<!-- views/posts/show.ejs -->
<div class="show">
  <div class="buttons floats">
    <% if(user && user.equals(post.author._id)) { %>
      <form class="float_right" action="/posts/<%= post._id + urlQuery("?") %>&_method=delete" method="post">
        <input class="button" type="button" value="Delete" onclick="confirm('Your post will be deleted')?this.parentElement.submit():null;">
      </form>
      <a class="button float_right" href="/posts/<%= post._id %>/edit<%= urlQuery('?') %>">Edit</a>
    <% } %>
    <a class="button float_left" href="/posts<%= urlQuery('?') %>">Back</a>
  </div>
  <h3>
    <%= post.numId %>.
    <span class="highlight" data-highlight="<%= search.highlight.title %>">
      <%= post.title %>
    </span>
  </h3>
  <div class="content floats">
    <div class="info float_right">
      <div class="highlight" data-highlight="<%= search.highlight.author %>">
        Author: <%= post.author.nickname %>
      </div>
      <div>
        <%= post.views %> views
      </div>
      <div class="timestamp">
        <div class="createdAt">
          <span>Created:</span> <%= post.getFormattedDate(post.createdAt) %>, <%= post.getFormattedTime(post.createdAt) %>
        </div>
        <% if(post.updatedAt) { %>
          <div class="updatedAt">
          <span>Updated:</span> <%= post.getFormattedDate(post.updatedAt) %>, <%= post.getFormattedTime(post.updatedAt) %>
          </div>
        <% } %>
      </div>
    </div>
    <div class="body highlight" data-highlight="<%= search.highlight.body %>"><%= post.body %></div>
    <div class="comments">
      <h4>Comments (<%= post.comments?post.comments.length:"0" %>)</h4>
      <% if(post.comments) { %>
        <% post.comments.forEach(function(comment){ %>
          <div class="comment">
            <div class="top">
              <b><%= comment.author.nickname %></b>
              (<%= post.getFormattedDate(comment.createdAt) %>,
              <%= post.getFormattedTime(comment.createdAt) %>)
              <% if(user && user.equals(comment.author._id)) { %>
                <form class="delete"  method="post"
                  action="/posts/<%=post._id%>/comments/<%=comment._id + urlQuery('?') %>&_method=delete&">
                  <input class="button" type="button" value="x"
                    onclick="confirm('Your comment will be deleted')?this.parentElement.submit():null;">
                </form>
              <% } %>
            </div>
            <div class="body"><%= comment.body %></div>
          </div>
        <% }) %>
      <% } %>
      <form class="addComment checkValidation"
        action="/posts/<%=post._id%>/comments<%= urlQuery('?') %>" method="post">
        <textarea class="cvRequired" type="text" name="comment[body]"
          cvRqErrMsg="comments is empty." cvRqErrTo="#cvErrTitle" <%= user?"":"disabled" %>
          placeholder="<%= user?"Add comment here":"Please login to make a comment" %>"></textarea>
        <input class="button" type="submit" value="Comment"<%= user?"":"disabled" %>>
        <div id="cvErrTitle" class="message"></div>
      </form>
    </div>
  </div>
</div>

<!-- main end -->
    </div><!--posts end -->
    <footer>
      <% include ../partials/footer %>
    </footer>
  </body>
</html>
